@mixin gradient($direction: 180deg, $color1: #000, $color2: rgba(0,0,0,0)){
    @media screen  and (min-width: 992px) {
        background: rgb(0,0,0) !important;
        background: -moz-linear-gradient($direction, $color1 0%, $color2 100%) !important;
        background: -webkit-linear-gradient($direction, $color1 0%, $color2 100%) !important;
        background: linear-gradient($direction, $color1 0%, $color2 100%) !important;
    }
}

@mixin  shadow {
    -webkit-box-shadow:  -2px 12px 24px rgba(153,153,153,0.2);
    -mox-box-shadow:  -2px 12px 24px rgba(153,153,153,0.2);
    box-shadow: -2px 12px 24px rgba(153,153,153,0.2);
}


@mixin wrap{
    margin-left: auto;
    margin-right: auto;
    padding-left: $gap;
    padding-right: $gap;
    max-width: $content-width;
}