// menu-cart-icon
.cart-contents{
    display: flex;
    align-items: center;
    border: 0 !important;
    .cart-contents-count{
        font-size: 10px;
        background: $c-1;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        display: inline-flex;
        color: white;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
    }
}
// end

// cart
body.woocommerce-cart{
    .coupon{
        #coupon_code{ 
            max-width: 150px; 
            border: 0px solid $c-border;
            border-bottom: 2px solid $c-1;
            width: 100% ;
            padding: calc(1rem - 2px);
            font-size: $s-meta;
        }
    }
}
// end