// basic
    .woocommerce{
        a.button{
            background: $c-1;
            color: white;
            font-size: $s-meta;
            font-family: $f-title;
            border-radius: 0;
            &:hover{ background: $c-meta; color: white }
        }
        table{
            border-radius: 0 !important;
            border: 0px solid $c-border !important;
            th{
                text-transform: uppercase;
                font-family: $f-title;
                background: $c-light;
            }
        }
        h2{
            @extend .h4;
        }
        .button{
            border-radius: 0 !important;
            font-size: $s-meta !important;
            padding: 1rem 2rem !important;
            &.alt{
                @extend .button;
                &:hover{
                    @extend .button:hover;
                }
            }
        }
    }
    body.woocommerce-checkout.full-width-content,
    body.woocommerce-account.full-width-content,
    body.woocommerce-cart.full-width-content{
        .entry-content,
        .entry-header{
            max-width: 100% !important;
            width: auto !important;
        }
    }
// end

// product-list

    .wc-block-grid{
        margin: 4rem 0;
        ul.wc-block-grid__products{
            margin: 0 -8px 16px;
            padding: 0;
            li.wc-block-grid__product{
                text-align: left;
                overflow: hidden;
                .wc-block-grid__product-onsale{
                    position: absolute;
                    top: -1.4rem;
                    left: -2.5rem;
                    padding: 2.5rem 0rem .5rem;
                    width: 100px;
                    transform: rotate(-45deg);
                    background: $c-1;
                    color: white;
                    letter-spacing: 1px;
                    font-family: $f-title;
                    font-size: 10px;
                }
                .wc-block-grid__product-title{
                    font-family: $f-title;
                    font-weight: normal;
                    font-size: 1rem; 
                    &:after{
                        content: "";
                        display: block;
                        border-bottom: 2px solid $c-1;
                        width: 30px;
                        margin-top: 1rem;
                    }
                }
                .wp-block-button .wp-block-button__link{
                    background: white;
                    color: $c-1;
                    font-size: 10px;
                    &:hover{
                        background: $c-1;
                        color: white
                    }
                }
                .price{
                    font-size: $s-meta;
                    del{
                        color: $c-meta;
                    }
                }
                .wc-block-grid__product-rating .star-rating{
                    margin-left: 0;
                }
            }//li
        }//ul
    }//.wc-block-grid
 
    .woocommerce ul.products li.first, .woocommerce-page ul.products li.first{
        clear: none;
    }

    .woocommerce ul.products{
        li.product{
            overflow: hidden;
            text-align: left;
            .featured-img{
                height: 250px;
                max-width: 100%;
                display: flex;
                overflow: hidden;
                justify-content: center;
                align-items: center;
                padding-top: .75rem;
                img{
                    max-height: 100%;
                    max-width: 100%;
                    width: auto;
                    height: auto;
                }
            }
            .onsale{
                position: absolute;
                top: -1rem;
                left: -2.4rem;
                right: auto;
                padding: 2.5rem 0rem .5rem;
                width: 100px;
                transform: rotate(-45deg);
                background: $c-1;
                color: white;
                letter-spacing: 1px;
                font-family: $f-title;
                font-size: 10px;
                line-height: 1.5;
                text-transform: uppercase;
                border-radius: 0;
                z-index: 1;
            }
            .woocommerce-loop-product__title{
                font-family: $f-title;
                font-weight: normal;
                font-size: 1rem; 
                padding-bottom: 0;
                &:after{
                    content: "";
                    display: block;
                    border-bottom: 2px solid $c-1;
                    width: 30px;
                    margin-top: 1rem;
                }
            }
            .price{
                font-size: $s-meta;
                color: $c-text;
                del{
                    color: $c-meta;
                }
                .woocommerce-Price-amount{
                    font-weight: bold;
                }
                .woocommerce-price-suffix{
                    display: block;
                    span.woocommerce-Price-amount{ font-weight: normal; }
                }
            }
        }
        @include media('>tablet'){            
            display: flex;
            flex-wrap: wrap;
        }
    }

    .sidebar-content ul.products{
        border-top: 1px solid $c-border;
        padding-top: 2rem;
        margin-top: 1rem;
    }

// end

// messages
    .woocommerce-error, .woocommerce-info, .woocommerce-message{
        background: $c-light;
        color: $c-text;
        border-color: $c-1;
        font-size: $s-meta;
        .showcoupon{ font-weight: bold; }
    }
// end

// item-page

    .woocommerce div.product{
        overflow: hidden;
        position: relative;
        .onsale{
            position: absolute;
            top: -1.5rem;
            left: -2.9rem;
            padding: 2.5rem 0rem .5rem;
            width: 125px;
            transform: rotate(-45deg);
            background: $c-1;
            color: white;
            letter-spacing: 1px;
            font-family: $f-title;
            font-size: 10px;
            border-radius: 0;
            text-transform: uppercase;
            
        }

        .woocommerce-product-gallery{

            .woocommerce-product-gallery__image{
                max-height: 550px;
                display: flex !important;
                justify-content: center;
                align-items: center;
                @include media('>tablet'){
                    height: 550px;
                }
                img{
                    height: auto;
                    width: auto;
                    max-height: 550px;
                    max-width: 100%;
                }
            }
            .flex-control-thumbs{
                li:nth-child(4n+1) { clear: none; }       
                li:nth-child(5n+1) { clear: left; }
                li{ width: calc( 100% / 5 ) !important    }
            }
        }
        

        .summary{
            margin-top: 10%;
            margin-bottom: 2rem;
            h1.product_title{
                @extend .h3;
                position: relative;
                margin: 0;
                &:after{
                    content: "";
                    display: block;
                    width: 50px;
                    border-bottom: 2px solid $c-1;
                    margin: 1rem 0;
                }
            }
            p.price{
                font-size: 1.2rem;
                font-family: $f-title;
                color: $c-text;
                .woocommerce-Price-currencySymbol{
                    margin-left: 3px; 
                }
            }
            .cart{
                display: flex;
                align-items: center;
                .quantity{
                    input{
                        border: 1px solid $c-border;
                        padding: calc(1rem - 1px) 0;
                        width: 4rem;
                        font-size: $s-meta;
                        font-family: $f-title;
                        border: 2px solid $c-1;

                    }
                }
                .button{
                    background: $c-1;
                    padding: 1rem 2rem;
                    font-size: $s-meta;
                    text-transform: uppercase;
                    font-family: $f-title;
                    border-radius: 0;
                    border: 2px solid $c-1;
                    &:hover{
                        background: transparent;
                        color: $c-1
                    }
                }
            }
            .product_meta{
                border-top: 1px solid $c-border;
                padding-top: 1rem;
                color: $c-meta;
                font-size: $s-meta;
                & > span{
                    &:after{
                        content: '|';
                        margin: 0 5px;
                    }
                    &:last-of-type::after{ content: "" }
                    span,a{
                        text-transform: uppercase;
                        font-family: $f-title;
                        color: $c-1
                    }
                }
            }
            .variations_form{
                display: block;
                width: 100%;
                .label{
                    line-height: 1;
                    word-break: normal;
                }
            }
        }

        div.woocommerce-tabs{
            ul.tabs{
                display: flex;
                justify-content: center;
                padding: 0;
                li{
                    border-radius: 0;
                    background: transparent;
                    border: 0;
                    text-transform: uppercase;
                    font-family: $f-title;
                    font-size: $s-meta;
                    letter-spacing: 1px;
                    &:before,&:after{ display: none; }
                    &.active{
                        background: transparent;
                        border-bottom: 2px solid $c-1;
                        a{ color: $c-1 }
                    }
                    a{
                        color: $c-meta
                    }
                }
            }

            .panel{
                margin: 0 auto;
                h2{ @extend .h4 }

                #reviews{

                    #comments ol.commentlist{
                        padding-left: 0;
                        margin-top: 2rem;
                        li{
                            list-style: none;
                            .avatar{
                                display: none;
                            }
                            .comment-text{
                                .meta{
                                    text-transform: uppercase;
                                    color: $c-1;
                                    border-bottom: 1px solid $c-border;
                                    padding: 0 0 .5rem 0;
                                }
                                border-radius: 0;
                                border: 0;
                                padding: 0; margin: 0;
                            }
                        }
                    }// #comments
                    #review_form #respond{
                        background: $c-light;
                        padding: 1rem;
                        #reply-title{
                            @extend .h4;
                        }
                        #submit{
                            @extend .button;
                        }
                    }// #review_form
                } //#reviews
            }
        }


    }

// end

// cart
    body.woocommerce-cart{
        .coupon{
            #coupon_code{ 
                max-width: 150px; 
                border: 0px solid $c-border;
                border-bottom: 2px solid $c-1;
                width: 100% ;
                padding: calc(1rem - 2px);
                font-size: $s-meta;
            }
        }
    }
// end

// sidebar
    .widget.woocommerce{

        ul.woocommerce-widget-layered-nav-list,
		ul.product-categories{
            .current-cat > a,
            .current-cat > .count { 
                // background: $c-1;
                // color: white;
                font-weight: bold;
                border-bottom: 2px solid $c-1;
            }
			li{
				border-top: 1px solid $c-border;
                font-size: $s-meta;
                margin: 0;
                display: grid;
                grid-template-columns: 1fr auto;
                align-items: center;
                a{
                    padding: $gap / 2;
                    display: block;
                    position: relative;
                }
				.count{
                    padding: $gap / 2; 

                }
                &.cat-parent{
                    & > a{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        &:after{
                            content: '\f107';
                            font-family: $f-awesome;
                            font-weight: bold;
                            
                            
                        }
                    }
                }
                .children{
                    grid-column: span 2;
                    background: rgba(black, .025);
                    li{ margin: 0; 
                        border-top: 1px solid white;

                    }
                }
			}
        }
        
        ul.product_list_widget{
            li{
                border-bottom: 1px solid $c-border;
                padding: 1rem 0;
                &:last-child { border: 0 }
                padding-left: 4rem;
                position: relative;
                font-size: $s-meta !important;
                line-height: 1.4;
                min-height: 3rem;
                *{ color: $c-meta }

                a{
                    color: $c-1;
                    img{
                        width: 3rem;
                        position: absolute;
                        left: 0;
                        top: 1rem;
                    }
                    .product-title{
                        margin-bottom: .5rem;
                        display: block;
                        color: $c-1
                    }
                }
            }
        }   
        
        .price_slider_wrapper{
            .ui-widget-content{
                background: $c-light !important;
                .ui-slider-range,
                .ui-slider-handle { background: $c-1; }
            } 
            .button{
                padding: .618em 1em !important
            }
        }

        .woocommerce-product-search{
            display: grid;
            grid-template-columns: 1fr auto;
        }
    }
// end

// menu-cart-icon
    .cart-contents{
        display: flex;
        align-items: center;
        border: 0 !important;
        .cart-contents-count{
            font-size: 10px;
            background: $c-1;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            display: inline-flex;
            color: white;
            align-items: center;
            justify-content: center;
            margin-left: 5px;
        }
    }
// end

// account page
    body.woocommerce-account{
        .woocommerce{
            h2{
                text-align: center;
                &:after{ margin-left: auto; }
            }
            form.woocommerce-form {
                max-width: 500px;
                border: 0;
                border-radius: 0;
                @include shadow;
                margin: auto;
            }
            .woocommerce-MyAccount-navigation{
                ul{
                    padding: 0;
                    @include shadow;
                    background: white;
                    li{
                        &::before{ display: none; }
                        padding: 0;
                        margin: 0;
                        a{
                            display: block;
                            padding: .5rem 1rem;
                            border-bottom: 1px solid $c-border;
                           
                            &:hover{ background: $c-light; }
                        }
                        &.is-active a{ background: $c-light; }
                        &:last-child a{ border-bottom: 0; }
                    }
                }
            }
        }
    }
// end

// checkout
    body.woocommerce-checkout {
        .checkout_coupon.woocommerce-form-coupon{
            border: 0;
            @include shadow;
            padding: $gap;
        }
        #order_review{
            // display: grid;
            // grid-gap: $gap;
            // padding: $gap;
            @include shadow;
            // @include media('>=tablet'){
            //     grid-template-columns: 3fr 2fr;
            // }
            table.shop_table{
                th.product-total{ min-width: 135px }
            }
            #payment{
                background: transparent;
                .payment_box {
                    background: $c-light;
                    &::before{ border-bottom-color: $c-light; }
                    *{ margin: 0; padding: 0; font-size: $s-meta; }
                }
                .woocommerce-privacy-policy-text{
                    a{ text-decoration: underline; }
                }
                button.button.alt{
                    @extend .button;
                    padding: 1.5rem 2rem;
                    width: 100%;
                }
            }
        }
    }
// end