// screen reader + skip link
	.screen-reader-text {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(50%);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		word-wrap: normal !important;
		&:focus{
			background-color: #eee;
			clip: auto !important;
			clip-path: none;
			color: #444;
			display: block;
			font-size: 1em;
			height: auto;
			left: 5px;
			line-height: normal;
			padding: 15px 23px 14px;
			text-decoration: none;
			top: 5px;
			width: auto;
			z-index: 100000; /* Above WP toolbar. */
		}
	}

	.genesis-skip-link {
		margin: 0;
		overflow: hidden;
	
		& .skip-link-hidden {
			display: none;
			visibility: hidden;
		}
	
		& li {
			width: 0;
			height: 0;
			list-style: none;
		}
	}
	
// end

// elements
	html{
		scroll-behavior: smooth;
	}
	
	embed,
	iframe,
	img,
	object,
	video,
	.wp-caption {
		max-width: 100%;
	}

	img {
		height: auto;
		vertical-align: top;
	}

	figure {
		margin: 0;
	}

	ol,ul{
		margin: 0; padding: 0;
		li{
			list-style: none;
		}
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
		margin-bottom: 40px;
		width: 100%;
		word-break: break-all;
		tbody { border-bottom: 1px solid $c-border;	}

		td,
		th {
			line-height: 2;
			text-align: left;
			vertical-align: top;
		}

		td { padding: 0.5em; }
		th { font-weight: bold; padding: 0.5rem; }
		tr { border-top: 1px solid $c-border; }
	}

	hr {
		border: 0;
		border-collapse: collapse;
		border-bottom: 1px solid currentColor;
		clear: both;
		color: $c-border;
		margin: 1.65em auto;
	}

	blockquote {
		border-left: 3px solid $c-2;
		@include margin( $gap * 1.5 $gap * 1.5 $gap * 1.5 0);
		@include padding(0 0 0 $gap);
		cite{
			font-size: $s-meta;
			color: $c-meta;
		}
	}

	mark {
		background: $c-light;
		color: $c-text;
	}
// end

// aligns
	a.aligncenter img {
		display: block;
		margin: 0 auto;
	}

	a.alignnone {
		display: inline-block;
	}

	.alignleft {
		float: left;
		text-align: left;
	}

	.alignright {
		float: right;
		text-align: right;
	}

	a.alignleft,
	a.alignnone,
	a.alignright {
		max-width: 100%;
	}

	img.centered,
	.aligncenter,
	.singular-image {
		display: block;
		@include margin( 0 auto $gap * 2 )
	}

	img.alignnone,
	.alignnone {
		margin-bottom: $gap;
	}

	a.alignleft,
	img.alignleft,
	.wp-caption.alignleft {
		@include margin( 0 $gap $gap 0 )
	}

	a.alignright,
	img.alignright,
	.wp-caption.alignright {
		@include margin( 0 0 $gap $gap )
	}

	figcaption,
	.gallery-caption,
	.wp-caption-text {
		font-size: $s-meta;
		font-weight: bold;
		@include padding( 0.5em null 1em );
		@include margin( null $gap );
		text-align: center;
	}

	.entry-content p.wp-caption-text {
		margin-bottom: 0;
	}

	.entry-content .wp-audio-shortcode,
	.entry-content .wp-playlist,
	.entry-content .wp-video {
		@include margin( 0 0 $gap * 2 );
	}
// end

// entry
	.entry-content {
		ol, ul {
			margin-bottom: $gap;
			margin-left: $gap;
		}
		ol {
			& > li {
				list-style-type: decimal;
			}
			ol {
				margin-bottom: 0;
			}
		}
		ul {
			& > li {
				list-style-type: disc;
			}
			ul {
				margin-bottom: 0;
			}
		}
		code {
			background-color: $c-light;
			color: $c-meta;
		}
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
// end

// pagination
	.pagination{
		clear: both;
		text-align: center;
		padding-top: 2rem;
		ul{
			display: flex;
			align-items: center;
			justify-content: center;
			li{
				margin: 0 5px;
				&.active a{
					background: $c-1;
					color: white;
				}
				a{
					padding: .5rem 1rem;
					display: block;
					text-decoration: none;
				}
				a:hover{
					background: $c-light;
					color: $c-text
				}
			}
		}
	}
// end
