// basics
	html{
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
	}
	body{
		background-color: #fff;
		overflow-x: hidden;
		font-family: $f-text;
		color: $c-text;
		font-size: 16px;
		line-height: 1.65;
		font-weight: $fw-text;
	}
// end

// titles
	h1,h2,h3,h4,h5,h6,
	.h1,.h2,.h3,.h4,.h5,.h6{
		font-family: $f-title;
		color: $c-1;
		line-height: 1.15em;
		font-weight: $fw-title;
		@include margin($gap null $gap * 2)
	}

	h1,.h1 {font-size: $s-h1;}
	h2,.h2 {font-size: $s-h2;}
	h3,.h3 {font-size: $s-h3;}
	h4,.h4 {font-size: $s-h4;}
	h5,.h5 {font-size: $s-h5;}
	h6,.h6 {font-size: $s-h6;}

	.one-third .entry-title{
		font-size: $s-h4;
		a{
			text-decoration: none;
		}
	}
	@include media("<=tablet"){
		h1,.h1 {font-size: $s-h2;}
		h2,.h2 {font-size: $s-h3;}
		h3,.h3 {font-size: $s-h4;}
	}

	.archive-title,
	.page-title{ 
		@extend .h3;
		margin-top: 0;
	}
	.entry-title{
		@extend .h2;
	}
	.widget-title{ @extend .h6; }
// end

// meta
	.entry-meta{
		font-size: $s-meta;
		font-style: italic;
		color: $c-meta;
		.entry-author,
		.entry-time{ 
			&:after{
				content: " · "
			}
		}
	}
// end

// paragrahp
	p{
		margin-bottom: 1.15rem;
	}
	small, .text_small {font-size: $s-meta}
// end

// link
	a{
		color: $c-1;
		text-decoration: none;
		transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		&:hover{
			color: $c-2;
		}
	}
// end

// other
	blockquote,
	cite,
	em,
	i {
		font-style: italic;
	}
// end

// editor-font-sizes
	.has-small-font-size{ font-size: $s-small; }
	.has-normal-font-size{ font-size: $s-normal; }
	.has-middle-font-size{ font-size: $s-middle; }
	.has-big-font-size{ font-size: $s-big; }