p {
    margin: 0 0 $gap * 2;
    padding: 0;
}
small, .text_small {font-size: $s-meta}

// headings
h1,	h2,	h3,	h4,	h5,	h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0 0 20px;
    font-family: $f-title;
    font-weight: $fw-normal;
    line-height: 1.2;
}
h1,.h1 { font-size: $s-h1; }
h2,.h2 { font-size: $s-h2; }
.entry-content h3,
.entry-content h4 {
    font-weight: $fw-bold;
}
h3,.h3 { font-size: $s-h3; }
h4,.h4 { font-size: $s-h4; }
.entry-content h4 {	margin-top: 40px; }
h5,.h5 { font-size: $s-h5; }
h6,.h6 { font-size: $s-h6; }