
.footer-widgets{
    padding-top: $gap * 2;
    padding-bottom: $gap;
    .wrap{
        .widget{
            margin-bottom: $gap * 2;
            font-size: $s-meta;
        }
        @include media('>=tablet'){
            display: grid;
            grid-template-columns: repeat(3, calc(100% / 3));
            grid-gap: $gap;
        }
        .footer-widgets-1{
            grid-column: 1;
        }
        .footer-widgets-2{
            grid-column: 2;
        }
        .footer-widgets-3{
            grid-column: 3;
        }
    }

}

.site-footer{
    text-align: center;
    font-size: $s-meta;
    padding: $gap*1.5 0;
    font-size: $s-meta;
    color: $c-meta;
    border-top: 1px solid $c-border;
    ul ul { display: none; }
}

