// woo select
    .select2-container--default .select2-selection--single{
        border-radius: 0;
        border-color: $c-border;	
        height: 38px;
        display: flex;align-items: center;
    }
// end

// input
    select,
    #{$all-text-inputs} {
        background-color: #fff;
        border: 1px solid $c-border;
        padding: .5rem 0;
        text-indent: 1rem;
        width: 100%;
        max-width: 100%;
    }
    select,
    #{$all-text-inputs-hover}{
        outline: none;
    }
    select:focus,
    #{$all-text-inputs-focus} {
        border: 1px solid $c-1;
        outline: none;
    }
// end

// checkbox, radio
    input[type="checkbox"],
    input[type="image"],
    input[type="radio"] {
        width: auto;
    }
// end

// placeholder
    ::-ms-input-placeholder {
        color: $c-meta;
        opacity: 1;
    }
    :-ms-input-placeholder {
        color: $c-meta;
        opacity: 1;
    }
    ::placeholder {
        color: $c-meta;
        opacity: 1;
    }
// end

// button
    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"],
    .button {
        background-color: $c-1;
        border: 0;
        color: white;
        cursor: pointer;
        font-weight: bold;
        padding: .75rem 1rem;
        text-align: center;
        text-decoration: none;
        white-space: normal;
        width: auto;
        &:focus,
        &:hover{
            background-color: $c-2;
            border-width: 0;
            color: #fff;
        }
    }

    .site-container button:disabled,
    .site-container button:disabled:hover,
    .site-container input:disabled,
    .site-container input:disabled:hover,
    .site-container input[type="button"]:disabled,
    .site-container input[type="button"]:disabled:hover,
    .site-container input[type="reset"]:disabled,
    .site-container input[type="reset"]:disabled:hover,
    .site-container input[type="submit"]:disabled,
    .site-container input[type="submit"]:disabled:hover {
        background-color: #eee;
        border-width: 0;
        color: #777;
        cursor: not-allowed;
    }

    // search extended buttons no display
        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-results-button {
            display: none;
        }
    // end

// end

// search form
    .search-form{
        display: grid;
        grid-template-columns: 1fr auto;
    }
// end