body{

	.gform_wrapper{
		h3.gform_title{
			font-weight: normal;
			@extend .h4;
		}
		.gform_description{
			font-size: $s-meta;
		}

		ul.gform_fields.top_label{

			.gfield{
				margin-top: $gap * 1.5;
				.gfield_label{
					line-height: 1;
					font-family: $f-title;
					color: $c-1;
					font-weight: $fw-title;
					font-size: 1rem !important;
					margin: 0;
				}
				div.ginput_container {
					margin-top: 3px;

					input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
					textarea{
						// border: 0px solid $c-border;
						// border-bottom: 2px solid $c-border;
						// box-shadow: 0px 10px 15px -15px rgba(0,0,0,0.25);
						// background: transparent;
						// padding: 1rem 0rem !important;
						margin-bottom: 0 !important;
					}
					input.datepicker{
						width: calc(100% - 24px);
					}

					label{
						margin-bottom: 0;
						color: $c-meta;
						margin-top: .5rem;
					}

				}

			}



		}
		.gform_footer input.button,
		.gform_wrapper .gform_footer input[type=submit],
		.gform_wrapper .gform_page_footer input.button,
		.gform_wrapper .gform_page_footer input[type=submit]{
			padding: .8rem 1.35rem;
			background-color: transparent;
			font-size: $s-meta;
			text-transform: uppercase;
			border: 2px solid $c-1;
			letter-spacing: 1px;
			font-weight: normal;
			color: $c-1;
			&:hover{
				border-color: $c-2;
				background: $c-2;
				color: white !important;
			}
		}
	}

}