.site-header {
    width: 100%;
    .wrap{
        @include padding(0 $gap * 2);
        @include clearfix;
        display: flex;
        justify-content: space-between;
    }
}

.title-area {
    @include padding($gap * 2 null $gap * 2);

	.wp-custom-logo & {
		width: 100%;
		max-width: 350px;
        @include padding(5px null);

		img {
			width: auto;
		}
	}
}

.site-title {
	margin-bottom: 0;
    font-size: $s-default;
	font-weight: $fw-bold;
	line-height: 1;

	a,
	a:focus,
	a:hover {
		color: $secondary;
		text-decoration: none;
	} 

	.wp-custom-logo & {
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		position: absolute !important;
		width: 1px;
		height: 1px;
		border: 0;
		@include overflow-wrap('normal');
	}
}

.site-description {
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	position: absolute !important;
	width: 1px;
	height: 1px;
	border: 0;
	@include overflow-wrap('normal');
}