// responsive menu icon
	button.menu-toggle{
		padding: 10px 1rem;
		background: transparent;
		color: black;
		text-transform: uppercase;
		display: none;
		@include media("<=tablet"){
			display: flex;
			align-items: center; 
		}
	}
	.genesis-responsive-menu{
		@include media("<=tablet"){
			display: none;
		}
	}
// end

// nav
	.genesis-nav-menu{
		ul{ display: none; }
		padding: 0;
		margin: 0;
		clear: both;
		width: 100%;
		font-size: $s-meta;
		display: flex;
		.menu-item{
			list-style: none;
			position: relative;
			padding: .5rem;
			display: flex;
			align-items: center;
			justify-content: space-between;

			a{
				transition: all 0.2s ease-in-out;
				text-decoration: none;
				display: block;
			}
			.sub-menu-toggle{
				display: block;
				padding: 0; margin: 0;
				background: transparent;
				color: inherit;

				&:before{
					font-size: 80%;
					line-height: 1;
					display: flex;
					align-items: center;
					justify-content: center;
					width: auto;
					margin-left: .3rem;
					content: '\f107';
					font-weight: bold;
					font-family: $f-awesome;
				}
				&:hover:before{
					color: $c-2 !important
				}
			}
		}
		.sub-menu{
			display: none;
			position: absolute;
			top: 100%;
			right: 0;
			background: white;
			padding: .5rem 0;
			min-width: 225px;
			@include shadow;
			.menu-item{
				margin: 0;
				padding: .25rem 1rem;
				&:last-child{ border: 0;}
			}
			.sub-menu{
				top: -.5rem;
				right: 100%;
			}
		}
	}

	// secondary
	.nav-secondary .wrap{
		display: flex;
		justify-content: center;
		ul{
			width: auto;
			font-size: $s-meta;
			li{
				padding: 0;
				margin-right: 1.5px;
				margin-left: 1.5px;
				a{ text-transform: none; }
				&:after{content: ', '}
				&:last-child:after{ content: "" }
			}
		}
		&:after{
			display: table;
			clear: both;
		}
	}
// end

// search
	.right.search{
		display: flex;
		align-items: center;
		position: relative;
		form{ 
			width: 300px; 
			padding: $gap;
			@include shadow;
			background: white;
			display: none;
			@include position(absolute, 100% 0 null null)
		}
		form.active{ 
			display: grid; 
		}
		i.fas{ 
			color: $c-text;
			font-size: .8rem;
			width: 1rem; 
			cursor: pointer; 
		}
	}
// end

@include media('<=tablet'){
	#genesis-mobile-nav-primary:before{
		content: "\f0c9" !important;
		font-weight: bold;
		font-family: $f-awesome;
	}
	#genesis-mobile-nav-primary.activated:before{
		content: "\f00d" !important;
	}
	.site-header{
		.nav-primary{
			background: white;
			position: absolute;
			top: calc( 100% + 10px ); right: $gap; left: $gap;
			box-shadow: 0 15px 60px rgba(153, 153, 153, 0.25);

			.wrap{
				padding: 0;
			}
			
			.genesis-nav-menu{
				width: 100%;
				display: block;
				.menu-item{
					float: none;
					display: block;
					padding: 0rem;
					a{
						padding: .75rem 1rem;
						color: $c-text;
					}
					&.button{
						border: 0;
						text-align: left;
					}
					.sub-menu-toggle{
						position: absolute;
						right: 1rem;
						top: .5rem;
						width: 2rem;
						height: 2rem;
					}
					.sub-menu{
						position: static !important;
						width: 100%;
						background: rgba(#000, .05);
						padding: 0;
						.menu-item{
							margin-left: 0;
							margin-right: 0;
						}
					}
				}
			}
		}
	}

	.right.search{
		display: flex;
		align-items: center;
		border-top: 1px solid $c-border;
		form{ 
			visibility: visible; 
			position: relative;
			display: grid;
			opacity: 1;
			width: 100%;
			@include padding( null 1rem 1rem )
		}
		i.fas{ display: none !important; }
	}
}