// Gravity Forms
div.gform_wrapper form{
	div.gform_heading{
		.gform_title{
			@extend .h4;
			border-bottom: 1px solid $c-border;
			@include margin(0 null $gap);
			padding-bottom: $gap;
		}
		.gform_description{
			font-size: $s-meta;
		} 
	}

	div.gf_progressbar_wrapper{
		@include margin($gap * 1.5 null);
		padding-bottom: 0;
	}

	div.gform_page_fields ul.gform_fields{
		.gfield{
			margin-top: $gap * 2;
			&.gfield_error{ 
				padding: 0;
				background: transparent; border: 0; 
				.ginput_container { background: $c-light }
			}
			.gfield_label{
				@extend .h6;
				@include margin(0 0 $gap / 2);
				text-transform: none;
				letter-spacing: 0;
			}
			.ginput_container {
				margin-top: $gap / 3;
				input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
				select,
				textarea{
					border: 0px solid $c-border;
					border-bottom: 2px solid $c-border;
					background: transparent;
					@include padding($gap / 1.5 0); 
					margin-bottom: 0 !important;
				}
				input.datepicker{
					width: calc(100% - 24px);
				}
				label, .gfield_description{
					margin-bottom: 0;
					color: $c-meta;
					margin-top: $gap / 2;
					font-size: $s-meta;
					padding: 0;
				}
			}
		}
	}

	/* .gform_footer input.button,
	.gform_wrapper .gform_footer input[type=submit],
	.gform_wrapper .gform_page_footer input.button,
	.gform_wrapper .gform_page_footer input[type=submit]{
		padding: .8rem 1.35rem;
		background-color: transparent;
		font-size: $s-meta;
		text-transform: uppercase;
		border: 2px solid $c-1;
		letter-spacing: 1px;
		font-weight: normal;
		color: $c-1;
		&:hover{
			border-color: $c-2;
			background: $c-2;
			color: white !important;
		}
	} */
}
