/* Alignment
---------------------------------------------------------------------------- */

	.has-text-align-center { text-align: center; }
	.has-text-align-left { text-align: left; }
	.has-text-align-right { text-align: right; }

	.wp-block-button.alignleft,
	.wp-block-buttons.alignleft,
	.wp-block-cover.alignleft,
	.wp-block-image .alignleft {
		margin-right: 2em;
	}

	.wp-block-button.alignright,
	.wp-block-buttons.alignright,
	.wp-block-cover.alignright,
	.wp-block-image .alignright {
		margin-left: 2em;
	}

	.wp-block-image.alignwide,
	.wp-block-image.alignfull,
	.wp-block-embed.alignwide,
	.wp-block-embed.alignfull {
		margin-bottom: 30px;
	} 

	.full-width-content .entry-content > .alignfull {
		margin-left: calc(-100vw / 2 + 100% / 2);
		margin-right: calc(-100vw / 2 + 100% / 2);
		max-width: 100vw;
	}

	.content-sidebar .site-container .alignfull,
	.sidebar-content .site-container .alignfull {
		margin: 0 0 2em;
		width: 100%;
	}

	.full-width-content .entry-content > .wp-block-group.alignfull {
		width: 100vw;
		.wp-block-group__inner-container{
			max-width: $content-width; 
		}
	}

	.full-width-content .entry-content > .wp-block-cover.alignfull {
		width: 100vw;
		.wp-block-cover__inner-container{
			max-width: $content-width;
		}
	}

	.full-width-content .site-container .wp-block-table.alignfull {
		margin: 0;
		width: 100%;
	}

	@media only screen and (min-width: 960px) {

		.full-width-content .site-container > .wp-block-table.alignwide {
			width: calc(100% + 360px);
		}

		.full-width-content .site-container > .wp-block-table.alignfull {
			margin-left: calc(-100vw / 2 + 100% / 2);
			margin-right: calc(-100vw / 2 + 100% / 2);
			width: 100vw;
		}

	}

	@media only screen and (min-width: 960px) {

		.full-width-content .entry-content > .alignwide {
			margin-left: -200px;
			margin-right: -200px;
			max-width: calc(100% + 400px); /* 360 equals sum of left and right margin */
			width: auto;
		}

		.alignfull .alignwide,
		.alignwide .alignwide {
			max-width: 1200px;
			margin: 0 auto;
		}

	}

/* Theme Colors
---------------------------------------------------------------------------- */

	.has-inline-color{
		&.has-theme-primary-color{ color: $c-2 }
		&.has-theme-secondary-color{ color: $c-2 }
	}

	.has-text-color,
	.has-inline-color{
		&.has-theme-primary-color{ color: $c-2; }
		&.has-theme-secondary-color{ color: $c-1; }
	} 

	.has-background-dim,
	.has-background{
		&.has-theme-primary-background-color{ background-color: $c-2; }
		&.has-theme-secondary-background-color{ background-color: $c-1; }
	} 


	.wp-block-button__link.has-background{
		&.has-theme-primary-background-color{ 
			border-color: $c-2 !important;
		}
		&.has-theme-secondary-background-color{ 
			border-color: $c-1 !important;
		}
		&:hover{
			color: white !important
		}
	}

/* Other Blocks
---------------------------------------------------------------------------- */

	.wp-block-preformatted,
	.wp-block-verse {
		font-size: 1rem;
	}

	.wp-block-preformatted {
		white-space: pre-wrap;
	}

	.wp-block-audio audio {
		display: inline-block;
		width: 100%;
	}

	.wp-block-separator{
		border: none;
		border-bottom: 1px solid currentColor;
		color: $c-border;
		margin: 1.65em auto;
		&:not(.is-style-wide):not(.is-style-dots) {
			max-width: 100px;
		}
		&.is-style-dots {
			color: $c-border;
		}
	}

	.blocks-gallery-grid,
	.wp-block-gallery,
	.wp-block-social-links {
		padding-left: 0;
	}

	@media only screen and (max-width: 781px) {

		.site-container .wp-block-column {
			flex-basis: 100%;
			margin-left: 0;
			margin-right: 0;
		}

	}

	.wp-block-media-text{
		margin-bottom: $gap * 2;
	}

	.wp-block-gallery{
		margin-bottom: $gap * 2;
		ul,ol{
			padding: 0; margin: 0;
		}
		.blocks-gallery-grid{
			width: 100%;
		}
	}

	.wp-block-categories {
		margin-left: 0;
		padding-left: 0;
		li { list-style-type: none;	}
		&.aligncenter{ text-align: center; }
		&.alignfull{ padding: 0 30px; }
		.children{ padding-left: 30px; }
	}

	.wp-block-latest-posts{
		padding-left: 0;
		margin-left: 0;
		li{	list-style-type: none; @include clearfix; }
		a{
			font-size: $s-h4;
			font-family: $f-title;
			font-weight: bold;
			display: block;
			text-decoration: none;
			line-height: 1.2;
		}
		&.aligncenter { text-align: center;	}
		&.alignfull { padding: 0 30px; }
	}